[Unit]
Description=Check the active bot branches (jon, luc, elias) for new bots every two minutes

[Timer]
OnBootSec=3min
OnUnitInactiveSec=2min
Persistent=true
Unit=botrankings-evaluator.service

[Install]
WantedBy=timers.target
